@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.main-content {
    background-color: #F3F5FC;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

.main-content__logo {
    margin: 40px 40px
}

.main-content__principal {
    margin: 40px 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-content__principal__textarea-container {
    width: 100%;
    height: 70%;
    margin: 15% 0%;
}

.main-content__principal__textarea-container textarea:focus{
    outline: none;
}

.main-content__principal__textarea-container textarea {
    width: 100%;
    height: 100%;
    border: 0px #FFFFFF00;
    background-color: #F3F5FC;
    font-size: 32px;
    resize: none;
}

.main-content__principal__warn-container {
    display: flex;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 10px;
}

.main-content__principal__buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.main-content__principal__buttons-container button {
    width: 100%;
    height: 55px;
    font-size: 16px;
    border-radius: 22px;
}

.main-content__principal__buttons-container__encrypt {
    color: #FFFFFF;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    
}

.main-content__principal__buttons-container__encrypt:hover {
    color: #d1d1d1;
    background-color: #093161;
}

.main-content__principal__buttons-container__dencrypt {
    color: #0A3871;
    border: 1px solid #093264;
    background-color: #D8DFE8;
}

.main-content__principal__buttons-container__dencrypt:hover {
    border: 1px solid #0A3871;
    background-color: #c4cad1;
}

.main-content__result {
    background-color: #FFFFFF;
    margin: 40px;
    width: 400px;
    border-radius: 32px;
    box-shadow: 0px 10px 15px #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.main-content__result h2 {
    margin: 16px 32px;
}

.main-content__result p {
    margin: 0px 32px;
}

.content__result__textarea {
    height: 90%;
    width: 90%;
}
